LangTools/bin/
LangTools/obj/
LangTools/packages/
Core/bin/
Core/obj/
Core/packages/
Shared/bin/
Shared/obj/
Shared/packages/
ViewModels/bin/
ViewModels/obj/
ViewModels/packages/
Models/bin/
Models/obj/
Models/packages/

*.user
*.suo