LangTools/bin/
LangTools/obj/
LangTools/packages/
LangTools/Core/bin/
LangTools/Core/obj/
LangTools/Core/packages/
LangTools/Data/bin/
LangTools/Data/obj/
LangTools/Data/packages/
LangTools/Shared/bin/
LangTools/Shared/obj/
LangTools/Shared/packages/
ViewModels/bin/
ViewModels/obj/
ViewModels/packages/
Models/bin/
Models/obj/
Models/packages/

*.user
*.suo